* {
    margin: 0;
    padding: 0;
}

/* Utils */
@import "utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

body {
    background-color: $background-color;
    font-family: "Yeseva One", cursive;
}

.appContainer {
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

.formContainer {
    padding: 20px 50px;
    background-color: $font-color;
    border-radius: 6px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.formInput {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: $background-color;
    color: $font-color;

    &::placeholder {
        color: $font-color;
    }
}

.formBtn {
    padding: 10px 20px;
    background-color: $background-color;
    color: $font-color;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.weatherInfoContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 50px;
}
.weatherPlace {
    @include DesktopTitle;
    margin-block: 60px;
    text-align: center;
}

.weatherError {
    @include DesktopText;
    text-align: center;
}

.infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.dataTitles {
    @include DesktopSubtitle;
    text-align: center;
}

.dataDesc {
    @include DesktopText;
    text-align: center;
}
